
<div class='inner-w'>

{{!--   <header class='logo-header'>
    {{gold-logo}}
  </header> --}}

  <article class='wp-content'>
    {{{model.content}}}
  </article>

{{!--   <article class='wp-content'>
    {{{model.acf.about_intro_1}}}

    {{{model.acf.about_intro_2}}}

    {{{model.acf.about_intro_3}}}

    <ul class="row">
      {{#each model.acf.desktop_row as |row|}}
        <li>
          <img src="{{row.row-image}}" alt="">
        </li>
      {{/each}}
    </ul>

    <div>
      {{{model.acf.about_character}}}

      {{{model.acf.about_press}}}
    </div>
  </article> --}}

  <footer class='cta'>
    <ul class='action-list'>
      <li class='action'>
      {{#link-to 'faqs' class='button faq'}}
        <span>
          <span>FAQs</span>
          <span class='large'> \ Investment</span>
        </span>
      {{/link-to}}
      </li>
      <li class='action'>
      {{#link-to 'contact' class='button inquire'}}
        <span>Inquire</span>
      {{/link-to}}
      </li>
    </ul>
  </footer>

</div>
