
{{#if isOpen}}
  {{{content}}}
  {{!-- <button {{action 'toggle'}}>XXX</button> --}}
{{else}}
  <a {{action 'toggle'}}><p><strong>{{word}}</strong></p>
    <span class='tape'>+</span>
  </a>
{{/if}}
