
<section class='container'>
<div class='inner-w'>

  <section class='wp-content'>
  	<h1>{{{model.title}}}</h1>

  	<p>{{model.date}}</p>

    {{{model.content}}}

    {{log model}}
  </section>


  <section>
    <div class='social'>
      <h2>Let's be friends 🙂</h2>
      {{social-list}}
    </div>
  </section>

</div>
</section>
