
<section class='container about editorial'>
<div class='inner-w'>
	
	{{#adopt-orphans}}

		<div class='text-w sticker-w'>
			{{!-- {{{model.acf.about_intro_1}}} --}}
			<h2>
				<span>We’ve</span><span>been</span><span>shooting</span><span>weddings</span><span>for</span><span>a</span><span>long</span><span>time.</span><span>We</span><span>do</span><span>it</span><span>because</span><span>we</span><span>love</span><span>it.</span>
			</h2>
		</div>

		<div class='image-w'>
			<img src='{{model.acf.about_image_1.sizes.large}}' alt=''>
		</div>

		<div class='text-w sticker-w'>
			<h2>
				<span>We’ve</span><span>been</span><span>shooting</span><span>weddings</span><span>for</span><span>a</span><span>long</span><span>time.</span><span>We</span><span>do</span><span>it</span><span>because</span><span>we</span><span>love</span><span>it.</span>
			</h2>
			{{!-- {{{model.acf.about_intro_2}}} --}}
		</div>

		<div class='song-w light come-as'>
			<div class='lyric'>
				<span>Come</span>
				<span>as</span>
				<span>you</span>
				<span>are</span>
			</div>
		</div>

{{!-- 		<div class='image-w'>
			<img src='{{model.acf.about_song_1.sizes.large}}' alt=''>
		</div>
 --}}
		<div class='image-w'>
			<img src='{{model.acf.about_image_2.sizes.large}}' alt=''>
			<div class='image-w badge'>
				<img src='../images/lyrics/to-die.png' alt=''>
			</div>
		</div>

		<div class='text-w fuck'>
			{{{model.acf.about_intro_3}}}
		</div>

		<div class='image-w'>
			<img src='{{model.acf.about_image_3.sizes.large}}' alt=''>
		</div>

		<div class='song-w light take-me-out'>
			<div class='lyric'>
				<span>Take me out tonight</span>
				<span>Where there is music</span>
				<span>and there's people and</span>
				<span>they are yound and alive</span>
			</div>
		</div>

{{!-- 		<div class='image-w'>
			<img src='{{model.acf.about_song_2.sizes.large}}' alt=''>
		</div> --}}

		<div class='image-w'>
			<img src='{{model.acf.about_image_4.sizes.large}}' alt=''>
		</div>

		<div class='text-w'>
			{{{model.acf.about_character}}}
		</div>



	
		<div class='image-w'>
			<img src='{{model.acf.about_image_5.sizes.large}}' alt=''>
		</div>

		<div class='text-w'>
		{{{model.acf.about_press}}}

		{{{model.acf.about_intro_4}}}

		</div>


		<div class='image-w'>
			<img src='{{model.acf.about_image_6.sizes.large}}' alt=''>
		</div>

{{!-- 		<div class='image-w'>
			<img src='{{model.acf.about_song_3.sizes.large}}' alt=''>
		</div> --}}

		<div class='song-w dark its-a'>
			<div class='lyric'>
				<span>Its a</span>
				<span>nice day</span>
				<span>for a</span>
				<span>white</span>
				<span>wedding</span>
			</div>
		</div>

	{{/adopt-orphans}}

	<footer>
		<div class='text-w'>
			{{#link-to 'contact' class='button inquire'}}
				<span>Inquire</span>
			{{/link-to}}
		</div>
	</footer>

</div>
</section>



{{outlet}}
