
<section class='container about content'>
<div class='inner-w'>

	<div class='text-w editorial' >
		<h1>Contact</h1>
		{{!-- {{#blast-focus}}
			{{{model.content}}}
		{{/blast-focus}} --}}
		{{{model.content}}}
	</div>

	<ul class='contact-list'>
		<li>
			<a href='mailto:studio@thisisthegoldcollective.com'>
				<span class='title'><strong>Email</strong></span>
				<span class='content'>studio@thisisthegoldcollective.com</span>
			</a>
		</li>
		<li>
			<a href='tel:310-721-1451'>
				<span class='title'><strong>Call</strong></span>
				<span class='content'>310-721-1451</span>
			</a>
		</li>
	</ul>

	{{contact-form}}


	{{!-- {{partial 'partials/main-menu'}} --}}

</div>
</section>



{{outlet}}
