
<section class='container content page-content'>
<div class='inner-w'>

	<h1>Contact</h1>

	{{{model.content}}}

	<ul class='contact-list'>
		<li>
			<a href='tel:310-721-1451'>
				<span class='title'>Call</span>
				<span class='content'>310-721-1451</span>
			</a>
		</li>
		<li>
			<a href='mailto:studio@thisisthegoldcollective.com'>
				<span class='title'>Email</span>
				<span class='content'>studio@thisisthegoldcollective.com</span>
			</a>
		</li>
	</ul>

	<figure>
		<img src='{{model.acf.contact_image}}' alt=''>
	</figure>

	<div class='social'>
		<h2>Let's be friends 🙂</h2>
		{{social-list}}
	</div>

	{{!-- {{contact-form}} --}}


	{{!-- {{partial 'partials/main-menu'}} --}}

</div>
</section>
