
<section class='container about content editorial'>
<div class='inner-w'>
	
	{{!-- {{{model.content}}}  --}}

	<h2>{{{model.acf.about_intro_1}}}</h2>

	<h3>{{{model.acf.about_intro_2}}}</h3>

	<h2>{{{model.acf.about_intro_3}}}</h2>

	<figure>
		<img src='{{model.acf.about_image_1.url}}' alt=''>
	</figure>

	<figure>
		<img src='{{model.acf.about_song_1.url}}' alt=''>
	</figure>

	<figure>
		<img src='{{model.acf.about_image_2.url}}' alt=''>
	</figure>

	<h2>{{{model.acf.about_intro_3}}}</h2>

	<figure>
		<img src='{{model.acf.about_image_3.url}}' alt=''>
	</figure>

	<figure>
		<img src='{{model.acf.about_song_2.url}}' alt=''>
	</figure>

	<figure>
		<img src='{{model.acf.about_image_4.url}}' alt=''>
	</figure>

	{{{model.acf.about_character}}}

	<figure>
		<img src='{{model.acf.about_image_5.url}}' alt=''>
	</figure>

	{{{model.acf.about_press}}}

	<h2>{{{model.acf.about_intro_4}}}</h2>

	<figure>
		<img src='{{model.acf.about_image_6.url}}' alt=''>
	</figure>

	<figure>
		<img src='{{model.acf.about_song_3.url}}' alt=''>
	</figure>

	<footer>
		{{#link-to 'contact' class='button inquire'}}
			<span>Inquire</span>
		{{/link-to}}
	</footer>



</div>
</section>



{{outlet}}
