<div class='style-guide'>


<header class='container page-header'>
<div class='inner-w'>

  <h1 class='page-title'>Gold Collective: Style-guide</h1>

</div>
</header>


{{#if media.noneToTwo}}
  noneToTwo
{{/if}}


<nav class='container'>
<div class='inner-w'>

  {{site-map}}

</div>
</nav>



<section class='container color'>
<div class='inner-w'>

  <h2 class='section-heading'>Color</h2>

  <ul class='swatch-list'>
    <li class='swatch black'>
      <span class='name'></span>
      <span class='hex'></span>
    </li>
    <li class='swatch white'>
      <span class='name'></span>
      <span class='hex'></span>
    </li>
    <li class='swatch gray-lighter'>
      <span class='name'></span>
      <span class='hex'></span>
    </li>
    <li class='swatch color-light'>
      <span class='name'></span>
      <span class='hex'></span>
    </li>
    <li class='swatch color'>
      <span class='name'></span>
      <span class='hex'></span>
    </li>
    <li class='swatch color-dark'>
      <span class='name'></span>
      <span class='hex'></span>
    </li>
  </ul>

</div>
</section>



<section class='container type-face'>
<div class='inner-w'>

  <h2 class='section-heading'>Type faces</h2>

  <div class='font heading'>
    <h2 class='flag'>JeanLuc</h2>

    <div class="large">
      <div class='letters'>
        {{typeExample.letters}}
      </div>
      <div class='symbols'>
        {{typeExample.symbols}}
      </div>
      <div class='numbers'>
        {{typeExample.numbers}}
      </div>
    </div>

    <div class="normal">
      <div class='letters'>
        {{typeExample.letters}}
      </div>
      <div class='symbols'>
        {{typeExample.symbols}}
      </div>
      <div class='numbers'>
        {{typeExample.numbers}}
      </div>
    </div>
  </div>

  <div class='font body'>
    <h2 class='flag'>Futura PT</h2>

    <div class="large">
      <div class='letters'>
        {{typeExample.letters}}
      </div>
      <div class='symbols'>
        {{typeExample.symbols}}
      </div>
      <div class='numbers'>
        {{typeExample.numbers}}
      </div>
    </div>

    <div class="normal">
      <div class='letters'>
        {{typeExample.letters}}
      </div>
      <div class='symbols'>
        {{typeExample.symbols}}
      </div>
      <div class='numbers'>
        {{typeExample.numbers}}
      </div>
    </div>
  </div>

</div>
</section>



<section class='container type-voice'>
<div class='inner-w'>

  <h2 class='section-heading'>Type voice</h2>

  <article>

    <div class='voice'>
      <p>This is standard-type(). In the admin, it is the 'default.' Sometimes, you'll have the first word in bold("strong"). The next sentence is an example of that.</p>
      <p><strong>Strong title</strong> is a way to seperate sections with titles for certain paragraphs. Use regular the regular paragraph that should be default and "strong" for the bold words.</p>
    </div>

    <div class='voice'>
      <h3>
        This is calm-voice(). In the admin, it is h3. We should use this for statements and call-outs that need to stand out above the standard copy. Use heading level 3.
      </h3>
    </div>

    <div class='voice'>
      <h2>
        <span>This</span><span>is</span><span>Focus-</span><span>voice().</span>
      </h2>

      <h2>
        <span>This</span><span>is</span><span>a</span><span>longer</span><span>sentence</span><span>in</span><span>focus</span><span>voice.</span><span>Use</span><span>heading</span><span>level</span><span>2.</span>
      </h2>
    </div>

    <div class='voice'>
      <h1>This is extra-large-type(). So far we don't know what we're using this for.</h1>
    </div>

  </article>

</div>
</section>



<section class='container type-spacing'>
<div class='inner-w'>

  <h2 class='section-heading'>Article spacing</h2>

  <article class="editorial">

    <h1>Page headings can use heading level 1</h1>

    <h2>
      <span>This</span><span>is</span><span>Focus</span><span>voice.</span>
    </h2>

    <h2>
      <span>This</span><span>is</span><span>a</span><span>longer</span><span>sentence</span><span>in</span><span>focus</span><span>voice.</span><span>Use</span><span>heading</span><span>level</span><span>2.</span>
    </h2>

    <h3>
      This is calm voice. We should use this for statements and call-outs that need to stand out above the standard copy. Use heading level 3.
    </h3>

    <p>This is standard copy. Sometimes, you'll have the first word in bold("strong"). The next sentence is an example of that.</p>
    <p><strong>Strong title</strong> is a way to seperate sections with titles for certain paragraphs. Use regular the regular paragraph that should be default and "strong" for the bold words.</p>

    <h2>
      <span>This</span><span>is</span><span>a</span><span>longer</span><span>sentence</span><span>in</span><span>focus</span><span>voice.</span><span>Use</span><span>heading</span><span>level</span><span>2.</span>
    </h2>

    <p>This is standard copy. Sometimes, you'll have the first word in bold("strong"). The next sentence is an example of that.</p>
    <p><strong>Strong title</strong> is a way to seperate sections with titles for certain paragraphs. Use regular the regular paragraph that should be default and "strong" for the bold words.</p>

  </article>

</div>
</section>



<section class='container editorial'>
<div class='inner-w'>

	{{{model.content}}}

</div>
</section>

</div>